@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Montserrat Alternates", sans-serif;
    background-color: $white-background;
    // background-image: url('../../img/background.png')

}

input:focus {
    background-color: #e5f3a8;
    transition-duration: 0.3s;
}


// section {
//     outline: solid green

// }

.line {
    height: 0.5px;
    background-color: $black-text;
    position: absolute;
    width: 320px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (min-width: 1200px){
        width: 536px;
    }
}

body {
    background-image: url('../img/background.png');
    background-position: center 50px;
    background-repeat: no-repeat;
    background-size: 360px 4500px;
    background-color: $background;

    @media screen and (min-width: 1200px){
        background-size: 1440px 4500px;
    }
}

.container {
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
    width: 1070px;
    width: 100%;
    outline: solid red;
    max-width: 350px;

    @media screen and (min-width: 1200px){
        max-width: 1070px;
    }
    
}

section {
    background-color: $white-background;
    width: 100%;
    margin: 0 auto;

    @media screen and (min-width: 1200px){
        width: 1090px;
    }
}

header {
    background-color: $white-background;
    margin: 0 auto;
    width: 100%;

}