.age-calculator {
  padding-top: 26px;
  padding-bottom: 26px;
  position: relative;

  @media screen and (min-width: 1200px){
    padding-top: 36px;
    padding-bottom: 36px;
}

  &__title {
    text-align: center;
    color: $black-text;
    font-size: 14px;
    font-family: Montserrat Alternates;
    font-weight: 400;
    margin-bottom: 26px;

    @media screen and (min-width: 1200px){
      margin-bottom: 36px;
      font-size: 16px;
  }
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 20px;

    @media screen and (min-width: 1200px){
      gap: 50px;
  }
  }

  &__input {
    width: 90px;
    height: 30px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: none;
    background-color: $input-color;
    color: $input-text;
    font-size: 10px;
    padding-left: 15px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    box-shadow: 7px 4px 5px #d2c5c5;

    @media screen and (min-width: 1200px){
      width: 110px;
      height: 40px;
      font-size: 12px;
  }
  }

  &__button {
    background-color: transparent;
    margin-left: 0;
    position: absolute;
    border: none;
    top: 0;
    bottom: 0;
    cursor: pointer;
  }

  &__finding-loup {
    width: 30px;
    height: 30px;

    @media screen and (min-width: 1200px){
      width: 40px;
      height: 40px;
  }
  }

  &__line-svg {
    margin-left: 33px;

  }

  &__text {
    color: $black-text;
    font-size: 10px;
    font-family: Montserrat Alternates;
    font-weight: 400;

    
    @media screen and (min-width: 1200px){
      font-size: 12px;
  }
  }
}
