.our-team {
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;

    @media screen and (min-width: 1200px){
        padding-top: 40px;
        padding-bottom: 40px;
    }

    &__title {
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 30px;

        @media screen and (min-width: 1200px){
            font-size: 16px;
            font-weight: 400;
            text-align: center;
            margin-bottom: 40px;
        }
    }

    &__image-div {
        display: flex;
        gap: 50px;
        justify-content: center;

        @media screen and (min-width: 1200px){
            gap: 320px;
        }
    }

    &__image {
        width: 120px;
        height: 120px;
        border-radius: 20px;

        @media screen and (min-width: 1200px){
            width: 150px;
            height: 150px;
        }
    }

    &__arrow {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    &__name {
        margin-top: 15px;
        text-align: center;
        font-size: 12px;

        @media screen and (min-width: 1200px){
            margin-top: 20px;
            text-align: center;
            font-size: 14px;
        }
    }

    &__text {
        margin-top: 15px;
        text-align: center;
        font-size: 10px;

        @media screen and (min-width: 1200px){
            margin-top: 20px;
            text-align: center;
            font-size: 12px;
        }
    }

    &__div {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        gap: 8px;

        @media screen and (min-width: 1200px){
            display: flex;
            justify-content: center;
            margin-top: 20px;
            gap: 10px;
        }
        
    }

    #element1 {
        width: 20px;
        height: 3px;
        border: none;
        border-radius: 20px;
        background-color: $div;

        @media screen and (min-width: 1200px){
            width: 30px;
            height: 3px;
        }
    }

    #element2 {
        width: 12px;
        height: 3px;
        border: none;
        border-radius: 20px;
        background-color: $div2;

        @media screen and (min-width: 1200px){
            width: 18px;
            height: 3px;
        }
    }
}