.r-p-s {
  padding-top: 26px;
  padding-bottom: 26px;
  position: relative;

  @media screen and (min-width: 1200px){
    padding-top: 36px;
    padding-bottom: 36px;

}

  &__title {
    text-align: center;
    margin-bottom: 26px;
    color: $black-text;
    font-size: 14px;
    font-family: Montserrat Alternates;
    font-weight: 400;

    @media screen and (min-width: 1200px){
      font-size: 16px;
      margin-bottom: 36px;
  
  }
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    margin-bottom: 26px;

    @media screen and (min-width: 1200px){
      gap: 38px;
      margin-bottom: 36px;
  
  }
  }

  &__button {
    width: 50px;
    height: 50px;
    gap: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: $black-text;
    cursor: pointer;
    border: none;

    @media screen and (min-width: 1200px){
      width: 60px;
      height: 60px;
      gap: 10px;
      padding: 10px;
  
  }
  }

  &__button:hover, &__button:focus {
    background-color: #125598;
    transition-duration: 0.2s;
}

  &__text {
    color: $black-text;
    font-size: 10px;
    font-family: Montserrat Alternates;
    font-weight: 400;
    line-height: 20.4px;

    @media screen and (min-width: 1200px){
      font-size: 12px;
  
  }
  }

  &__result {
    color: $change-text;
    text-align: center;
    font-size: 10px;
    font-family: Montserrat Alternates;
    font-weight: 400;
    margin-bottom: 26px;

    @media screen and (min-width: 1200px){
      font-size: 12px;
      font-family: Montserrat Alternates;
      font-weight: 400;
      margin-bottom: 36px;
  
  }
  }

  &__computer-choice {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: $black-text;
    font-size: 10px;
    font-family: Montserrat Alternates;
    font-weight: 400;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 20px;

    @media screen and (min-width: 1200px){
      font-size: 12px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 20px;
  
  }
  }

  &__score {
    position: static;;

    @media screen and (min-width: 1200px){
      position: absolute;
      right: 20%;
  
  }
  }

  &__img {
    width: 30px;
    height: 30px;
    @media screen and (min-width: 1200px){
      width: 40px;
      height: 40px;
  
  }
  }
}
