.r-p-s {
  padding-top: 36px;
  padding-bottom: 36px;
  position: relative;

  &__title {
    text-align: center;
    margin-bottom: 36px;
    color: $black-text;
    font-size: 16px;
    font-family: Montserrat Alternates;
    font-weight: 400;
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 38px;
    margin-bottom: 36px;
  }

  &__button {
    width: 60px;
    height: 60px;
    gap: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: $black-text;
    cursor: pointer;
  }

  &__text {
    color: $black-text;
    font-size: 12px;
    font-family: Montserrat Alternates;
    font-weight: 400;
    line-height: 20.4px;
  }

  &__result {
    color: $change-text;
    text-align: center;
    font-size: 12px;
    font-family: Montserrat Alternates;
    font-weight: 400;
    margin-bottom: 36px;
  }

  &__computer-choice {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: $black-text;
    font-size: 12px;
    font-family: Montserrat Alternates;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
  }

  &__score {
    position: absolute;
    right: 20%;
  }
}
