.dark-mode {
    background-color: #3a3636;
}

body.dark-mode header {
    background-color: #2E2E2E;
}

body.dark-mode footer {
    background-color: #2E2E2E;
}

body.dark-mode section {
    background-color: #2E2E2E;
}

body.dark-mode p, 
body.dark-mode h2, 
body.dark-mode h1, 
body.dark-mode a {
    color: #FFFFFF
}

// body.dark-mode button {
//     color: #000000;
// }

body.dark-mode input {
    box-shadow: none;
}

body.dark-mode button {
    box-shadow: none;
    border: none;
}

body.dark-mode span {
    color: #2E2E2E
}

body.dark-mode .line {
    background-color: #fff;
}

body.dark-mode .select-scientist__name,
body.dark-mode .select-scientist__surname,
body.dark-mode .select-scientist__born,
body.dark-mode .select-scientist__dead {
    color: #2E2E2E;
}




