<section>
    <div class="container age-calculator__container">
        <div class="line"></div>
        <h2 class="age-calculator__title">Калькулятор часу</h2>
        <div class="age-calculator__box">
            <div class="age-calculator__input-box">
                <input type="text" class="age-calculator__input" placeholder="Введіть число">
                <button class="age-calculator__button"><img class="age-calculator__finding-loup" src="../img/finding-loup.png" alt="finding loupe"></button>
            </div>
            <img class="age-calculator_line-svg" src="../img/age-calculator.svg" alt="vector line">
            <p class="age-calculator__text"></p>
        </div>
</section>