<section class="age-calculator" >
    <div class="line"></div>
    <div class="container age-calculator__container">
        <h2 class="age-calculator__title">Калькулятор часу</h2>
        <div class="age-calculator__box">
            <div class="age-calculator__input-box">
                <input type="text" class="age-calculator__input" placeholder="Введіть число">
                <button type="button" class="age-calculator__button"><img class="age-calculator__finding-loup" src="./img/finding-loup.png" alt="finding loupe"></button>
            </div>
            <img class="age-calculator__line-svg" src="./img/age-calculator.svg" alt="vector line">
            <p class="age-calculator__text">3 дн. 15:45:01
            </p>
        </div>
</section>