<section id="check-age" class="check-age">
    <div class="line"></div>
    <div class="container check-age__container">
        <h2 class="check-age__title">Перевір в який рік ти народився</h2>
        <div class="check-age__div">
            <div class="check-age__input-div">
                <input type="text" class="check-age__input" placeholder="Введіть рік народження">
                <button class="check-age__button"><img class="finding-loup" src="./img/finding-loup.png" alt="finding loupe"></button>
            </div>
            <p class="check-age__text">Ви народилися у високосний рік!</p>
        </div>
    </div>
</section>