<footer class="footer">
  <div class="container footer__container">
    <img class="footer__logo" src="./img/footer-logo.png" alt="logo image" />
    <ul class="footer__list">
      <li class="footer__item"><p>Тел: +38 (123) 456 78 90</p></li>
      <li class="footer__item"><p>E-Mail: codingmagic@gmail.com</p></li>
      <li class="footer__item"><p>Facebook: CodingMagic</p></li>
      <li class="footer__item"><p>Twitter: CodingMagic</p></li>
      <li class="footer__item"><p>Instagram: CodingMagic</p></li>
    </ul>
    <div class="footer__box">
      <input
        type="text"
        class="footer__input"
        placeholder="Ваша ел. адреса..."
      />
      <button data-footer-modal-open type="button" class="footer__button">
        Підписатись
      </button>
      <p class="footer__text">
        Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті
      </p>
    </div>
  </div>
</footer>
