<footer>
  <div class="container footer__container">
    <img class="footer__logo" src="../img/header-logo.png" alt="logo image" />
    <ul class="footer__list">
      <li class="footer__item">Тел: +38 (123) 456 78 90</li>
      <li class="footer__item">E-Mail: codingmagic@gmail.com</li>
      <li class="footer__item">Facebook: CodingMagic</li>
      <li class="footer__item">Twitter: CodingMagic</li>
      <li class="footer__item">Instagram: CodingMagic</li>
    </ul>
    <div class="footer__box">
      <input
        type="text"
        class="footer__input"
        placeholder="Ваша ел. адреса..."
      />
      <button class="footer__button">
        Підписатись
      </button>
      <p class="footer__text">
        Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті
      </p>
    </div>
  </div>
</footer>
