<section id="games" class="dino">
    <div class="line"></div>
    <div class="container dino__container">
        <h2 class="dino__title">Google динозавр</h2>
        <p class="dino__points">Points: <span id="points">0</span></p>
        <div id="game">
            <img id="dinosour" src="./img/standing_still.png" alt="dino that is standing still">
            <img id="cactus" src="./img/cactus_1.png" alt="cactus">
        </div>
        
        <button type="button" class="dino__button">Почати</button>
    </div>
</section>