<section class="guess-number">
    <div class="container guess-number__container">
        <div class="line"></div>
        <h2 class="guess-number__title">Вгадай число, яке загадав комп’ютер(1 - 10)</h2>
        <div class="guess-number__div">
            <div class="guess-number__input-div">
                <input type="text" class="guess-number__input" placeholder="Введіть число">
                <button class="guess-number__button"><img class="finding-loup" src="./img/finding-loup.png" alt="finding loupe"></button>
            </div>
            <p class="guess-number__text">Вітаю, ви вгадали число! (number) </p>
        </div>
    </div>
</section>