<header class="header">
    <div class="container header__container">
        <img class="header__logo" src="../img/header-logo.png" alt="logo image">
        <ul class="header__list">
            <li id="header-item1" class="header__item">
                <a href="#games" class="header__link">Інтерактив</a>
                <button style="cursor: pointer" class="header__svg-button" type="button"><img class="header__svg" src="../img/header-vector.svg" alt="header vector"></button>
            </li>
            <li class="header-item">
                <a href="#our-team" class="header__link">Наша команда</a>
            </li>
            <li class="header-item">
                <a href="#footer" class="header__link">Контакти</a>
            </li>
        </ul>
        <div class="header__div">
            <button class="header__button"><img id="header-button1" src="../img/change-theme-light.png" alt="change theme to dark"><img id="header-button2" src="../img/change-theme-dark.png" alt="change theme to light"></button>
            <p class="header__text">Вітаємо, User!</p>
        </div>
    </div>
</header>