<section class="our-team" id="our-team">
    <div class="line"></div>
    <div class="container">
        <h2 class="our-team__title">Наша команда</h2>
        <div class="our-team__image-div">
            <button id="button-arrow-left" class="our-team__arrow" type="button"><img src="./img/left-arrow.png" alt="left arrow"></button>
            <img id="andrey" class="our-team__image" src="./img/andrey.jpg" alt="Студент 1">
            <img style="display: none;" id="stas" class="our-team__image" src="./img/stas.jpg" alt="Студент 1">
            <button id="button-arrow-right" class="our-team__arrow" type="button"><img src="./img/right-arrow.png" alt="right arrow"></button>
        </div>
        <p class="our-team__name">Андрій Норик</p>
        <p class="our-team__text">Зробив модалку, футер та секції age-calculator, rock-paper-scissors та football</p>
        <div class="our-team__div">
            <div id="element1" class="our-team__element"></div>
            <div id="element2" class="our-team__element"></div>
            <!-- <div class="our-team__element"></div>
            <div class="our-team__element"></div>
            <div class="our-team__element"></div>
            <div class="our-team__element"></div>
            <div class="our-team__element"></div> -->
        </div>
    </div>
</section>