<section class="r-p-s">
  <div class="line"></div>
  <div class="container r-p-s__container">
    <h2 class="r-p-s__title">Камінь - ножиці - папір</h2>
    <div class="r-p-s__box">
      <button class="r-p-s__button">
        <img src="../img/stone.png" alt="rock" />
      </button>
      <button class="r-p-s__button">
        <img src="../img/scissors.png" alt="scissors" />
      </button>
      <button class="r-p-s__button">
        <img src="../img/paper.png" alt="paper" />
      </button>
      <div class="r-p-s__score">
        <p class="r-p-s__text">Рахунок:</p>
        <p class="r-p-s__text">
          Комп’ютер - <span id="computer-score">0</span>
        </p>
        <p class="r-p-s__text">Ви - <span id="user-score">0</span></p>
      </div>
    </div>
    <p class="r-p-s__result">Ви виграли раунд!</p>
    <button class="r-p-s__computer-choice">Варіант комп'ютера</button>
  </div>
  <script src="../js/rock-paper-scissors.js"></script>
</section>
