<section class="select-scientist">
    <div class="line"></div>
    <div class="container select-scientist__container">
        <h2 class="select-scientist__title">Обери вченого/их</h2>
        <ul class="select-scientist__div-list">
            <li class="select-scientist__div-item"></li>
            <li class="select-scientist__div-item"></li>
            <li class="select-scientist__div-item"></li>
            <li class="select-scientist__div-item"></li>
            <li class="select-scientist__div-item"></li>
            <li class="select-scientist__div-item"></li>
            <li class="select-scientist__div-item"></li>
            <li class="select-scientist__div-item"></li>
            <li class="select-scientist__div-item"></li>
            <li class="select-scientist__div-item"></li>
            <li class="select-scientist__div-item"></li>
            <li class="select-scientist__div-item"></li>
        </ul>
        <ul class="select-scientist__button-list">
            <li style="padding-left: 7%" class="select-scientist__button-item"><button style="width: 227px; margin-right: 38px;" class="select-scientist__button-btn">Які вчені народилися в 19 ст.</button><button style="width: 298px;" class="select-scientist__button-btn">Знайти рік народження Albert Einshtein</button></li>
            <li style="padding-left: 15.5%" class="select-scientist__button-item"><button style="width: 282px; margin-right: 38px;" class="select-scientist__button-btn">Відсортувати вчених за алфавітом</button><button style="width: 441px" class="select-scientist__button-btn">Знайти вчених, прізвища яких починаються на на літеру “С” </button></li>
            <li class="select-scientist__button-item"><button style="width: 380px; margin-right: 38px;" class="select-scientist__button-btn">Відсортувати вчених за кількістю прожитих років</button><button style="width: 376px" class="select-scientist__button-btn">Видалити всіх вчених, ім’я яких починається на “А”</button></li>
            <li style="padding-left: 4%; display: flex; justify-content: top" class="select-scientist__button-item"><button style="width: 329px; margin-right: 38px; height: 38px;" class="select-scientist__button-btn">Знайти вченого, який народився найпізніше</button><button style="width: 368px; text-align: left; border-radius: 22px" class="select-scientist__button-btn">Знайти вченого, який прожив найдовше і вченого, 
                який прожив найменше</button></li>
            <li style="padding-left: 2%" class="select-scientist__button-item"><button style="width: 489px" class="select-scientist__button-btn">1.  Знайти вчених, в яких співпадають перші літери імені і прізвища</button></li>
        </ul>
    </div>
</section>