<section id="scientist" class="select-scientist">
    <div class="line"></div>
    <div class="container select-scientist__container">
        <h2 class="select-scientist__title">Обери вченого/их</h2>
        <ul class="select-scientist__div-list">
            <li class="select-scientist__div-item">
                <h3 class="select-scientist__id">1.</h3>
                <p class="select-scientist__name">Ім'я: <span class="scientist-name">Albert</span></p>
                <p class="select-scientist__surname">Прізвище: <span class="scientist-surname">Einstein</span></p>
                <p class="select-scientist__born">Рік народження: <span class="scientist-born">1879</span></p>
                <p class="select-scientist__dead">Помер: <span class="scientist-dead">1955</span></p>
                <div id="overlay1" class="select-scientist__overlay"></div>
            </li>
            <li class="select-scientist__div-item">
                <h3 class="select-scientist__id">2.</h3>
                <p class="select-scientist__name">Ім'я: <span class="scientist-name">Isaac</span></p>
                <p class="select-scientist__surname">Прізвище: <span class="scientist-surname">Newton</span></p>
                <p class="select-scientist__born">Рік народження: <span class="scientist-born">1643</span></p>
                <p class="select-scientist__dead">Помер: <span class="scientist-dead">1727</span></p>
                <div id="overlay2" class="select-scientist__overlay"></div>
            </li>
            <li class="select-scientist__div-item">
                <h3 class="select-scientist__id">3.</h3>
                <p class="select-scientist__name">Ім'я: <span class="scientist-name">Galileo</span></p>
                <p class="select-scientist__surname">Прізвище: <span class="scientist-surname">Galilei</span></p>
                <p class="select-scientist__born">Рік народження: <span class="scientist-born">1564</span></p>
                <p class="select-scientist__dead">Помер: <span class="scientist-dead">1642</span></p>
                <div id="overlay3" class="select-scientist__overlay"></div>
            </li>
            <li class="select-scientist__div-item">
                <h3 class="select-scientist__id">4.</h3>
                <p class="select-scientist__name">Ім'я: <span class="scientist-name">Marie</span></p>
                <p class="select-scientist__surname">Прізвище: <span class="scientist-surname">Curie</span></p>
                <p class="select-scientist__born">Рік народження: <span class="scientist-born">1867</span></p>
                <p class="select-scientist__dead">Помер: <span class="scientist-dead">1934</span></p>
                <div id="overlay4" class="select-scientist__overlay"></div>
            </li>
            <li class="select-scientist__div-item">
                <h3 class="select-scientist__id">5.</h3>
                <p class="select-scientist__name">Ім'я: <span class="scientist-name">Johannes</span></p>
                <p class="select-scientist__surname">Прізвище: <span class="scientist-surname">Kepler</span></p>
                <p class="select-scientist__born">Рік народження: <span class="scientist-born">1571</span></p>
                <p class="select-scientist__dead">Помер: <span class="scientist-dead">1630</span></p>
                <div id="overlay5" class="select-scientist__overlay"></div>
            </li>
            <li class="select-scientist__div-item">
                <h3 class="select-scientist__id">6.</h3>
                <p class="select-scientist__name">Ім'я: <span class="scientist-name">Nicolaus</span></p>
                <p class="select-scientist__surname">Прізвище: <span class="scientist-surname">Copernicus</span></p>
                <p class="select-scientist__born">Рік народження: <span class="scientist-born">1473</span></p>
                <p class="select-scientist__dead">Помер: <span class="scientist-dead">1543</span></p>
                <div id="overlay6" class="select-scientist__overlay"></div>
            </li>
            <li class="select-scientist__div-item">
                <h3 class="select-scientist__id">7.</h3>
                <p class="select-scientist__name">Ім'я: <span class="scientist-name">Max</span></p>
                <p class="select-scientist__surname">Прізвище: <span class="scientist-surname">Planck</span></p>
                <p class="select-scientist__born">Рік народження: <span class="scientist-born">1858</span></p>
                <p class="select-scientist__dead">Помер: <span class="scientist-dead">1947</span></p>
                <div id="overlay7" class="select-scientist__overlay"></div>
            </li>
            <li class="select-scientist__div-item">
                <h3 class="select-scientist__id">8.</h3>
                <p class="select-scientist__name">Ім'я: <span class="scientist-name">Katherine</span></p>
                <p class="select-scientist__surname">Прізвище: <span class="scientist-surname">Blodgett</span></p>
                <p class="select-scientist__born">Рік народження: <span class="scientist-born">1898</span></p>
                <p class="select-scientist__dead">Помер: <span class="scientist-dead">1979</span></p>
                <div id="overlay8" class="select-scientist__overlay"></div>
            </li>
            <li class="select-scientist__div-item">
                <h3 class="select-scientist__id">9.</h3>
                <p class="select-scientist__name">Ім'я: <span class="scientist-name">Ada</span></p>
                <p class="select-scientist__surname">Прізвище: <span class="scientist-surname">Lovelace</span></p>
                <p class="select-scientist__born">Рік народження: <span class="scientist-born">1815</span></p>
                <p class="select-scientist__dead">Помер: <span class="scientist-dead">1852</span></p>
                <div id="overlay9" class="select-scientist__overlay"></div>
            </li>
            <li class="select-scientist__div-item">
                <h3 class="select-scientist__id">10.</h3>
                <p class="select-scientist__name">Ім'я: <span class="scientist-name">Sarah E.</span></p>
                <p class="select-scientist__surname">Прізвище: <span class="scientist-surname">Goode</span></p>
                <p class="select-scientist__born">Рік народження: <span class="scientist-born">1855</span></p>
                <p class="select-scientist__dead">Помер: <span class="scientist-dead">1905</span></p>
                <div id="overlay10" class="select-scientist__overlay"></div>
            </li>
            <li class="select-scientist__div-item">
                <h3 class="select-scientist__id">11.</h3>
                <p class="select-scientist__name">Ім'я: <span class="scientist-name">Lise</span></p>
                <p class="select-scientist__surname">Прізвище: <span class="scientist-surname">Meitner</span></p>
                <p class="select-scientist__born">Рік народження: <span class="scientist-born">1878</span></p>
                <p class="select-scientist__dead">Помер: <span class="scientist-dead">1968</span></p>
                <div id="overlay11" class="select-scientist__overlay"></div>
            </li>
            <li class="select-scientist__div-item">
                <h3 class="select-scientist__id">12.</h3>
                <p class="select-scientist__name">Ім'я: <span class="scientist-name">Hanna</span></p>
                <p class="select-scientist__surname">Прізвище: <span class="scientist-surname">Hammarström</span></p>
                <p class="select-scientist__born">Рік народження: <span class="scientist-born">1829</span></p>
                <p class="select-scientist__dead">Помер: <span class="scientist-dead">1909</span></p>
                <div id="overlay12" class="select-scientist__overlay"></div>
            </li>
        </ul>
        <ul class="select-scientist__button-list">
            <li style="padding-left: 7%" class="select-scientist__button-item"><button id="button1id"
                    style="width: 227px; margin-right: 38px;" class="select-scientist__button-btn">Які вчені народилися
                    в 19 ст.</button><button id="button2id" style="width: 298px;"
                    class="select-scientist__button-btn">Знайти рік народження Albert Einshtein</button></li>
            <li style="padding-left: 15.5%" class="select-scientist__button-item"><button id="button3id"
                    style="width: 282px; margin-right: 38px;" class="select-scientist__button-btn">Відсортувати вчених
                    за алфавітом</button><button id="button4id" style="width: 441px"
                    class="select-scientist__button-btn">Знайти вчених, прізвища яких починаються на на літеру “С”
                </button></li>
            <li class="select-scientist__button-item"><button id="button5id" style="width: 380px; margin-right: 38px;"
                    class="select-scientist__button-btn">Відсортувати вчених за кількістю прожитих років</button><button
                    id="button6id" style="width: 376px" class="select-scientist__button-btn">Видалити всіх вчених, ім’я
                    яких починається на “А”</button></li>
            <li style="padding-left: 4%; display: flex; justify-content: top" class="select-scientist__button-item">
                <button id="button7id" style="width: 329px; margin-right: 38px; height: 38px;"
                    class="select-scientist__button-btn">Знайти вченого, який народився найпізніше</button><button
                    id="button8id" style="width: 368px; text-align: left; border-radius: 22px"
                    class="select-scientist__button-btn">Знайти вченого, який прожив найдовше і вченого,
                    який прожив найменше</button></li>
            <li style="padding-left: 2%" class="select-scientist__button-item"><button id="button9id"
                    style="width: 489px" class="select-scientist__button-btn">1. Знайти вчених, в яких співпадають перші
                    літери імені і прізвища</button></li>
            <li style="width: 589px; padding-left: 34%" class="select-scientist__button-item"><button id="button10id"
                    style="width: 229px" class="select-scientist__button-btn">Відкрити всіх вчених</button></li>
        </ul>
        <ul class="select-scientist__button-list2">
            <li class="select-scientist__button-item2"><button id="button1id2" class="select-scientist__button-btn">Які
                    вчені народилися в 19 ст.</button></li>
            <li class="select-scientist__button-item2"><button id="button2id2"
                    class="select-scientist__button-btn">Знайти рік народження Albert Einshtein</button></li>
            <li class="select-scientist__button-item2"><button id="button3id2"
                    class="select-scientist__button-btn">Відсортувати вчених за алфавітом</button></li>
            <li class="select-scientist__button-item2"><button id="button4id2"
                    class="select-scientist__button-btn">Знайти вчених, прізвища яких починаються на на літеру “С”
                </button></li>
            <li class="select-scientist__button-item2"><button id="button5id2"
                    class="select-scientist__button-btn">Відсортувати вчених за кількістю прожитих років</button></li>
            <li class="select-scientist__button-item2"><button id="button6id2"
                    class="select-scientist__button-btn">Видалити всіх вчених, ім’я яких починається на “А”</button>
            </li>
            <li class="select-scientist__button-item2"><button id="button7id2"
                    class="select-scientist__button-btn">Знайти вченого, який народився найпізніше</button></li>
            <li class="select-scientist__button-item2"><button id="button8id2"
                    class="select-scientist__button-btn">Знайти вченого, який прожив найдовше і вченого,
                    який прожив найменше</button></li>
            <li class="select-scientist__button-item"><button id="button9id2" class="select-scientist__button-btn">1.
                    Знайти вчених, в яких співпадають перші літери імені і прізвища</button></li>
            <li class="select-scientist__button-item"><button id="button10id2"
                    class="select-scientist__button-btn">Відкрити всіх вчених</button></li>
        </ul>
    </div>
</section>