<section class="select-scientist">
    <div class="line"></div>
    <div class="container select-scientist__container">
        <h2 class="select-scientist__title">Обери вченого/их</h2>
        <ul class="select-scientist__div-list">
            <li class="select-scientist__div-item">
                <h3 class="select-scientist__id">1.</h3>
                <p class="select-scientist__name">Ім'я: Albert</p>
                <p class="select-scientist__surname">Прізвище: Einstein</p>
                <p class="select-scientist__born">Рік народження: 1879</p>
                <p class="select-scientist__dead">Помер: 1955</p>
                <div id="overlay1" class="select-scientist__overlay"></div>
            </li>
            <li class="select-scientist__div-item">
                <h3 class="select-scientist__id">2.</h3>
                <p class="select-scientist__name">Ім'я: Isaac</p>
                <p class="select-scientist__surname">Прізвище: Newton</p>
                <p class="select-scientist__born">Рік народження: 1643</p>
                <p class="select-scientist__dead">Помер: 1727</p>
                <div id="overlay2" class="select-scientist__overlay"></div>
            </li>
            <li class="select-scientist__div-item">
                <h3 class="select-scientist__id">3.</h3>
                <p class="select-scientist__name">Ім'я: Galileo</p>
                <p class="select-scientist__surname">Прізвище: Galilei</p>
                <p class="select-scientist__born">Рік народження: 1564</p>
                <p class="select-scientist__dead">Помер: 1642</p>
                <div id="overlay3" class="select-scientist__overlay"></div>
            </li>
            <li class="select-scientist__div-item">
                <h3 class="select-scientist__id">4.</h3>
                <p class="select-scientist__name">Ім'я: Marie</p>
                <p class="select-scientist__surname">Прізвище: Curie</p>
                <p class="select-scientist__born">Рік народження: 1867</p>
                <p class="select-scientist__dead">Помер: 1934</p>
                <div id="overlay4" class="select-scientist__overlay"></div>
            </li>
            <li class="select-scientist__div-item">
                <h3 class="select-scientist__id">5.</h3>
                <p class="select-scientist__name">Ім'я: Johannes</p>
                <p class="select-scientist__surname">Прізвище: Kepler</p>
                <p class="select-scientist__born">Рік народження: 1571</p>
                <p class="select-scientist__dead">Помер: 1630</p>
                <div id="overlay5" class="select-scientist__overlay"></div>
            </li>
            <li class="select-scientist__div-item">
                <h3 class="select-scientist__id">6.</h3>
                <p class="select-scientist__name">Ім'я: Nicolaus</p>
                <p class="select-scientist__surname">Прізвище: Copernicus</p>
                <p class="select-scientist__born">Рік народження: 1473</p>
                <p class="select-scientist__dead">Помер: 1543</p>
                <div id="overlay6" class="select-scientist__overlay"></div>
            </li>
            <li class="select-scientist__div-item">
                <h3 class="select-scientist__id">7.</h3>
                <p class="select-scientist__name">Ім'я: Max</p>
                <p class="select-scientist__surname">Прізвище: Planck</p>
                <p class="select-scientist__born">Рік народження: 1858</p>
                <p class="select-scientist__dead">Помер: 1947</p>
                <div id="overlay7" class="select-scientist__overlay"></div>
            </li>
            <li class="select-scientist__div-item">
                <h3 class="select-scientist__id">8.</h3>
                <p class="select-scientist__name">Ім'я: Katherine</p>
                <p class="select-scientist__surname">Прізвище: Blodgett</p>
                <p class="select-scientist__born">Рік народження: 1898</p>
                <p class="select-scientist__dead">Помер: 1979</p>
                <div id="overlay8" class="select-scientist__overlay"></div>
            </li>
            <li class="select-scientist__div-item">
                <h3 class="select-scientist__id">9.</h3>
                <p class="select-scientist__name">Ім'я: Ada</p>
                <p class="select-scientist__surname">Прізвище: Lovelace</p>
                <p class="select-scientist__born">Рік народження: 1815</p>
                <p class="select-scientist__dead">Помер: 1852</p>
                <div id="overlay9" class="select-scientist__overlay"></div>
            </li>
            <li class="select-scientist__div-item">
                <h3 class="select-scientist__id">10.</h3>
                <p class="select-scientist__name">Ім'я: Sarah E.</p>
                <p class="select-scientist__surname">Прізвище: Goode</p>
                <p class="select-scientist__born">Рік народження: 1855</p>
                <p class="select-scientist__dead">Помер: 1905</p>
                <div id="overlay10" class="select-scientist__overlay"></div>
            </li>
            <li class="select-scientist__div-item">
                <h3 class="select-scientist__id">11.</h3>
                <p class="select-scientist__name">Ім'я: Lise</p>
                <p class="select-scientist__surname">Прізвище: Meitner</p>
                <p class="select-scientist__born">Рік народження: 1878</p>
                <p class="select-scientist__dead">Помер: 1968</p>
                <div id="overlay11" class="select-scientist__overlay"></div>
            </li>
            <li class="select-scientist__div-item">
                <h3 class="select-scientist__id">12.</h3>
                <p class="select-scientist__name">Ім'я: Hanna</p>
                <p class="select-scientist__surname">Прізвище: Hammarström</p>
                <p class="select-scientist__born">Рік народження: 1829</p>
                <p class="select-scientist__dead">Помер: 1909</p>
                <div id="overlay12" class="select-scientist__overlay"></div>
            </li>
        </ul>
        <ul class="select-scientist__button-list">
            <li style="padding-left: 7%" class="select-scientist__button-item"><button style="width: 227px; margin-right: 38px;" class="select-scientist__button-btn" id="button1">Які вчені народилися в 19 ст.</button><button id="button2" style="width: 298px;" class="select-scientist__button-btn">Знайти рік народження Albert Einshtein</button></li>
            <li style="padding-left: 15.5%" class="select-scientist__button-item"><button id="button3" style="width: 282px; margin-right: 38px;" class="select-scientist__button-btn">Відсортувати вчених за алфавітом</button><button id="button4" style="width: 441px" class="select-scientist__button-btn">Знайти вчених, прізвища яких починаються на на літеру “С” </button></li>
            <li class="select-scientist__button-item"><button id="button5" style="width: 380px; margin-right: 38px;" class="select-scientist__button-btn">Відсортувати вчених за кількістю прожитих років</button><button id="button6" style="width: 376px" class="select-scientist__button-btn">Видалити всіх вчених, ім’я яких починається на “А”</button></li>
            <li style="padding-left: 4%; display: flex; justify-content: top" class="select-scientist__button-item"><button id="button7" style="width: 329px; margin-right: 38px; height: 38px;" class="select-scientist__button-btn">Знайти вченого, який народився найпізніше</button><button id="button8" style="width: 368px; text-align: left; border-radius: 22px" class="select-scientist__button-btn">Знайти вченого, який прожив найдовше і вченого, 
                який прожив найменше</button></li>
            <li style="padding-left: 2%" class="select-scientist__button-item"><button id="button9" style="width: 489px" class="select-scientist__button-btn">1.  Знайти вчених, в яких співпадають перші літери імені і прізвища</button></li>
            <li style="width: 589px; padding-left: 34%" class="select-scientist__button-item"><button id="button10" style="width: 229px" class="select-scientist__button-btn">Відкрити всіх вчених</button></li>
        </ul>
    </div>
</section>