<section class="three-numbers">
    <div class="line"></div>
    <div class="container three-numbers__container">
        <h2 class="three-numbers__title">Введіть 3 числа</h2>
        <div class="three-numbers__div">
            <input id="num1" class="three-numbers__input" type="text" placeholder="Введіть число">
            <input id="num2"  class="three-numbers__input" type="text" placeholder="Введіть число">
            <input id="num3"  class="three-numbers__input" type="text" placeholder="Введіть число">
        </div>
        <p class="three-numbers__text">Найбільше число, яке ви ввели - (число)</p>
    </div>
</section>