<section class="tic-tac-toes">
    <div class="line"></div>
    <div class="container">
        <h2 class="tic-tac-toes__title">Хрестики Нулики</h2>
        <div class="tic-tac-toes__box">
            <div class="tic-tac-toes__item"><div class="tic-tac-toes__x">×</div><button type="button" class="tic-tac-toes__button"></button><div class="tic-tac-toes__o">o</div></div>
            <div class="tic-tac-toes__item"><div class="tic-tac-toes__x">×</div><button type="button" class="tic-tac-toes__button"></button><div class="tic-tac-toes__o">o</div></div>
            <div class="tic-tac-toes__item"><div class="tic-tac-toes__x">×</div><button type="button" class="tic-tac-toes__button"></button><div class="tic-tac-toes__o">o</div></div>
            <div class="tic-tac-toes__item"><div class="tic-tac-toes__x">×</div><button type="button" class="tic-tac-toes__button"></button><div class="tic-tac-toes__o">o</div></div>
            <div class="tic-tac-toes__item"><div class="tic-tac-toes__x">×</div><button type="button" class="tic-tac-toes__button"></button><div class="tic-tac-toes__o">o</div></div>
            <div class="tic-tac-toes__item"><div class="tic-tac-toes__x">×</div><button type="button" class="tic-tac-toes__button"></button><div class="tic-tac-toes__o">o</div></div>
            <div class="tic-tac-toes__item"><div class="tic-tac-toes__x">×</div><button type="button" class="tic-tac-toes__button"></button><div class="tic-tac-toes__o">o</div></div>
            <div class="tic-tac-toes__item"><div class="tic-tac-toes__x">×</div><button type="button" class="tic-tac-toes__button"></button><div class="tic-tac-toes__o">o</div></div>
            <div class="tic-tac-toes__item"><div class="tic-tac-toes__x">×</div><button type="button" class="tic-tac-toes__button"></button><div class="tic-tac-toes__o">o</div></div>
        </div>
        <div class="tic-tac-toes__score">
            <p class="tic-tac-toes__text">Рахунок:</p>
            <p class="tic-tac-toes__text">
              Комп’ютер - <span id="computerScore">0</span>
            </p>
            <p class="tic-tac-toes__text">Ви - <span id="userScore">0</span></p>
          </div>
        <p class="tic-tac-toes__article">Ви починаєте хрестиками</p>
    </div>
</section>